<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="Game">
    <header><%- include('../partials/header'); %></header>

    <main>
      <ul class="app__highscores-list">
        <li class="app__highscores-item">
          <h3>Player</h3>
          <h3>Game Duration</h3>
        </li>
        <% highscores.forEach((highscore) => { %>
        <li class="app__highscores-item">
          <p><%= highscore.playerId %></p>
          <p><%= highscore.guessesCount %>s</p>
        </li>
        <% }) %>
      </ul>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
